/* SPDX-FileCopyrightText: © 2025 promising future digital media llc. All rights reserved. <admin@parleystar.com> */
/* SPDX-License-Identifier: Mozilla Public License 1.1 (MPL-1.1) */

:root {
  --chzzk-black: #141517;
}

/* display */


/* background */
.pls-chzzk .plsSettingsMenuZZform ::-webkit-scrollbar-thumb, 
.pls-chzzk .plsSettingsMenuZZform details[open],
.pls-chzzk .plsSettingsMenuZZform [type=button],
.pls-chzzk .plsSettingsMenuZZform button,
.pls-chzzk .plsSideMenuYYdiv button:hover, 
.pls-chzzk .plsSideMenuYYdiv button:focus, 
.pls-chzzk .plsSideMenuYYdiv button:active,
.pls-chzzk .plsSideMenuYYdiv button.focused,
.pls-chzzk .plsSideMenuSearchYYinput:hover, 
.pls-chzzk .plsSideMenuSearchYYinput:focus, 
.pls-chzzk .plsSideMenuSearchYYinput:active,
.pls-chzzk .plsSideMenuSearchYYinput.focused, 
.pls-chzzk .plsSideMenuSearchWrapperYYdiv button:hover, 
.pls-chzzk .plsSideMenuSearchWrapperYYdiv button:focus, 
.pls-chzzk .plsSideMenuSearchWrapperYYdiv button:active,
.pls-chzzk .plsSideMenuSearchWrapperYYdiv button.focused {
  background: var(--chzzk-black);
}

/* color */
.pls-chzzk .pls-chat-a {
	color: var(--cchzzk-black);
}